@import url('https://fonts.googleapis.com/css2?family=Bungee+Hairline&family=Bungee+Outline&family=Open+Sans:wght@400;600&display=swap');

body {
    --darkBackground   : #111;
    --lightColor       : mix(azure, black, 85%);
    --slightAccentColor: #f0ffff44;
    --blockCount       : 4;
    --widthBlocksize   : calc(90vw / var(--blockCount));
    --heightBlocksize  : calc(50dvh / var(--blockCount));
    --idealBlockSize   : ~'min(var(--widthBlocksize), var(--heightBlocksize))';
    --blockSize        : clamp(5vmin, var(--idealBlockSize), 150px);
    --boardSize        : calc(var(--blockCount) * var(--blockSize));
    background-color   : var(--darkBackground);
    display            : flex;
    flex-direction     : column;
    align-items        : center;
    justify-content    : center;
    height             : 100dvh;
    color              : var(--lightColor);
    user-select        : none;
    font-family        : 'Open Sans', 'Trebuchet MS', sans-serif;
}

header {
    padding-top  : 3vmin;
    margin-bottom: auto;

    h1 {
        margin     : 0;
        font-family: Bungee Hairline;
        font-size  : clamp(~'3rem, 4.482vw + 1.132rem, 4rem');
        line-height: 1em;
    }
}

footer {
    margin: auto 0 3vmin 0;

    h2 {
        margin     : 0;
        font-family: Bungee Hairline;
        font-size  : 2em;
        line-height: 1em;

        a {
            color          : inherit;
            text-decoration: none;
        }
    }
}

sup {
    font-size: small;
}