:root {
    --blockSize     : 10vmin;
    --darkBackground: #111;
    --lightColor    : azure;
}

body {
    background-color: var(--darkBackground);
    display         : flex;
    flex-direction  : column;
    align-items     : center;
    justify-content : center;
    height          : 100dvh;
}

header {
    margin-bottom: auto;
    color        : azure;
}

footer {
    margin-top: auto;
}