scoreboard {
    top            : calc(var(--blockSize)*-65);
    display        : flex;
    align-items    : flex-end;
    justify-content: space-between;
    width          : var(--boardSize);

    p {
        font-size: 18px;
    }
}