scoreboard {
    top            : calc(var(--blockSize)*-65);
    display        : flex;
    justify-content: space-between;
    width          : var(--boardSize);

    p {
        font-size: 24px;
    }
}